.custom-btn {
    min-width: 150px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 16px;
    background-color: #ffcb6a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 10px 10px 0 0;
}

.custom-btn:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #ffcb6a;
}

.google-btn {
    background-color: #4285f4;
}

.google-btn:hover {
    border-color:#4285f4 ;
}