.card-container {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.poster {
    border-radius: 25px 25px 0 0;
}

.movie-overview {
    padding: 1rem;
}

.watched, .toWatch {
    width: 150px;
    box-shadow:0 15px 25px  #8f033d;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 40px;
    background-color: #ff076e;
    color: #fff;
    margin: 0.5rem;
    padding: 1rem;
}

.alreadyWatched {
    width: 150px;
    box-shadow:0 15px 25px  #013308;
    border: none;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 40px;
    background-color: #058016;
    color: #fff;
    margin: 0.5rem;
    padding: 1rem;
}

button:focus{
    outline: none;
}

.watched:hover, .toWatch:hover {
    transform: scale(1.03);
}
